{% extends "base.html" %}
{% load static %}

{% block title %}Create Prescription - Health Management System{% endblock %}

{# {% block welcome_msg %}<h1>Welcome to Health Management System</h1>{% endblock %} #}

{% block header %}
<header>
        
<nav class="navbar navbar-expand-lg">
    {% include 'menu.html' %}
<a class="navbar-brand" href="/">Health Management System</a>
   <!-- <a class="navbar-brand" href="#"><img src="~/Images/Property-Mgmt-Logo.png" style="width:200px;" /></a>-->
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            
            <a class="nav-link" href="/doc_profile/{{ request.session.uid }}">
                
                <i class="fas fa-user-circle"></i>
                <span>Dr. {{ request.session.login_name }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
               <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>

</nav>
</header>
{% endblock %}

{% block content %}
<div class="form-section">
<h3>Create prescription</h3>
{% if cd %}
Prescription submitted <br>
<a href='/view_pres/{{ appt_id }}'>View prescription</a>

{% else %}

<form action='' method='POST'>
    {% csrf_token %}
<div class="form-group row">
    <label class="col-sm-5"><i class="far fa-calendar"></i>Date<span class="colon">:</span></label>
    <div class="col-sm-7">
    <label class="label-right">{{ dt }}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="fas fa-pencil-alt"></i>Patient Name<span class="colon">:</span></label>
    <div class="col-sm-7">
    <label class="label-right">{{ pat_name }}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="far fa-hospital"></i>Hospital Name<span class="colon">:</span></label>
    <div class="col-sm-7">
    <label class="label-right">{{ hospital_name }}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="fas fa-sitemap"></i>Department<span class="colon">:</span></label>
    <div class="col-sm-7">
    <label class="label-right">{{ spec }}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="far fa-clock"></i>Slot<span class="colon">:</span></label>
    <div class="col-sm-7">
    <label class="label-right">{{ slot }}</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="far fa-edit"></i>Prescription<span class="colon">:</span></label>
    <div class="col-sm-12">
    {{ form.pres }}
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-5"><i class="far fa-file-alt"></i>Referral<span class="colon">:</span>
        <small style="line-height: 20px;">({{ form.refer.help_text|safe }})</small>
    </label>
    <div class="col-sm-12">
    {{ form.refer }}
    </div>
</div>

<input type="submit" class="btn" value="Submit">

</form>
{% endif %}
</div>
{% endblock %}