<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doctor Profile - Health Management System</title>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/all.css" />
<link rel="stylesheet" href="css/themify-icons.css" />
<link rel="stylesheet" href="css/style.css" />

</head>

<body>
 <header>
        
<nav class="navbar navbar-expand-lg">
    {% include 'menu.html' %}

<a class="navbar-brand" href="index.html">Health Management System</a>
                        <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user-circle"></i>
                            <span>Dr.P.C.Guptha</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>

        </nav>
    </header>
<section>

<img src="images/doctor-profile.png" style="width:100%;">
</section>
    <section class="container">
    	<div class="profile-container">
        
        <div class="row">
        	  <div class="col-sm-4 text-right">
            	<img src="images/doctorM.png" class="img-thumbnail">
            </div>
            <div class="col-sm-8">
            	<h5>Dr. P C Guptha</h5>
               <p> <i class="fas fa-stethoscope"></i>Vascular surgeon</p>
               <p><i class="far fa-hospital"></i>Century Super Speciality Hospital</p>
            </div>
            
        </div>
        
        </div>
    	<div class="form-section inner-form mt-0">
    
       
     
          <div class="col-sm-12">
    
                        <h5><i class="fas fa-stethoscope"></i>Qualification</h5>
                        	<ul class="list-unstyled list">
                            	<li>MBBS, MD, DNB</li>
                            </ul>
                        	
                        </div>
             <div class="col-sm-12">
                        <h5><i class="far fa-hospital"></i>Alma Mater</h5>
                        	<ul class="list-unstyled list">
                            	<li>Osmania Medical College </li>
                            	<li>Gandhi Medical College</li>
                              
                            
                            </ul>
                        </div>
            <div class="col-sm-12">
                        <h5><i class="far fa-hospital"></i>List of Hospital Names</h5>
                        	<ul class="list-unstyled list">
                            	<li>CARE Hospitals </li>
                            	<li>Century Super Speciality Hospital</li>
                               <li>NIMS</li>
                               <li>OMNI Hospitals (INCOR Hospitals Pvt Ltd)</li>
                               <li>Yashoda Hospitals</li>
                                
                            
                            </ul>
                        </div>
            
       
        </div>
    </section>
     <ul class="list-unstyled color-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    <footer>
        <section class="container">
        	<div class="row">
            	<div class="col-sm-4">
                	<h6>About Health Management System</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-sm-4">
                	<h6>Links</h6>
                    <ul class="list-unstyled">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                	<h6>Get In Touch With Us</h6>
                    <ul class="list-unstyled">
                    	<li>Patient Management System</li>
                        <li> <i class="fas fa-mobile-alt"></i> 9876543210</li>
                        <li> <i class="fas fa-envelope-open"></i> abc@xyz.com</li>
                       	<li class="social-icons"> <a href="#"><i class="fab fa-facebook-square"></i></a>
                       		 <a href="#"><i class="fab fa-twitter-square"></i></a>
                             <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        </li>
                     </ul>
                    	
                       
                       
                    
                </div>
            </div>
        </section>
        <div class="copyright">
			<p> © 2019 Health Management System. All rights reserved</p>
		</div>	
    </footer>


</body>
</html>
